.text {
    padding: 30px;
    border: 1px solid gray;
    border-radius: 4px;
    width: 100%;
    background: linear-gradient(
        to left,
        rgb(251, 249, 245),
        rgb(251, 251, 241)
    );
    text-align: center;
    flex-flow: column;
    z-index: 1000;
}

@media screen and (max-width: 1200px) {
    .text {
        padding: 20px;
    }
}
