.houseCard {
    border: 1px solid gray;
    width: 90%;
    height: 200px;
    background-color: white;
    border-radius: 6px;
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 20px;
}

.houseCard:hover .textPart {
    transform: scale(1.01);
    color: black;
    background-color: white;
}

.houseCard:hover img {
    transform: scale(1.02);
    opacity: 1;
}

.houseCard:hover .titolo {
    text-decoration: underline;
}

.imgWrapper {
    height: 100%;
    width: 40%;
    overflow: hidden;
    background: linear-gradient(rgb(255, 255, 255), rgb(254, 230, 230));
}

.imgWrapper img {
    opacity: 0.9;
    min-height: 100%;
    min-width: 100%;
    transition: 0.6s all;
}

.textPart {
    width: 60%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    flex-flow: column;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    color: rgb(56, 56, 56);
    transition: all 0.6s;
    background-color: rgb(242, 242, 242);
}

.textPart:hover {
    color: black;
}

.titolo {
    font-weight: bold;
    color: rgb(5, 89, 215);
}

.icon {
    margin-right: 12px;
    position: relative;
    top: 4px;
}

.sup {
    vertical-align: super;
    font-size: xx-small;
}

@media screen and (max-width: 900px) {
    .textPart {
        font-size: small;
    }
}

@media screen and (max-width: 800px) {
    .textPart {
        font-size: medium;
    }
}

@media screen and (max-width: 600px) {
    .textPart {
        font-size: small;
    }
}

@media screen and (max-width: 450px) {
    .houseCard {
        width: 98%;
    }
    .textPart {
        width: 45%;
    }
    .titolo {
        font-weight: normal;
    }
    .imgWrapper {
        width: 55%;
    }
}
