.jumbotron {
    z-index: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    float: left;
    width: 50%;
}

.jumbotron h2 {
    padding: 12px 20px 0 20px;
}

.jumbotron p {
    padding: 0 20px 4px 20px;
    text-align: justify;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 12px;
}

.buttons * {
    margin: 4px 10px 0 4px;
}

@media screen and (max-width: 700px) {
    .jumbotron {
        top: 15%;
    }
}

@media screen and (max-width: 500px) {
    .jumbotron {
        top: 10%;
    }
}
