.paginationBar {
    border: 1px solid white;
    color: white;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.arrow {
    height: 24px;
    width: 24px;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-sizing: border-box;
}

.right {
    transform: rotate(180deg);
}
