.form * {
    width: 80%;
}

.formValutazione * {
    margin-top: 10px;
}

.form {
    border-radius: 4px;
    background: linear-gradient(
        to left,
        rgb(251, 249, 245),
        rgb(251, 251, 241)
    );
    z-index: 9999;
    flex-flow: column;
    justify-content: space-around;
}

.formValutazione {
    min-height: 70%;
    padding: 30px;
}

.formDomanda * {
    margin-top: 5px;
}

.formDomanda {
    min-height: 86%;
    padding: 15px 30px;
}

.privacySection {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: small;
    transition: all 1s;
}

.evidence {
    transition: all 1s;
    color: red;
}

.notEvidence {
    transition: all 1s;
    color: color;
}

.privacyCheckButton {
    width: 8%;
}

@media screen and (max-width: 500px) {
    .formDomanda,
    .formValutazione {
        padding: 10px;
    }
}
