.gray {
    background-color: rgba(0, 0, 0, 0.6);
}

.backdrop {
    width: calc(100vw - 210px);
    height: calc(100vh - 140px);
    padding: 0;
    margin: 0;
    position: absolute;
    top: 140px;
    right: 0;
    border: 1px solid transparent;
}

@media (prefers-reduced-motion: no-preference) {
    .sidebar {
        animation: sidebar-animation 0.4s linear;
    }
}

@keyframes sidebar-animation {
    from {
        transform: translateX(-10vw);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 210px;
    height: calc(100vh - 140px);
    background-color: white;
    border: 1px solid transparent;
}

.list {
    list-style: none;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-flow: column;
}

.list li {
    margin: 16px 0;
}

.navLink {
    text-decoration: none;
    color: rgb(54, 54, 54);
    font-size: x-large;
    cursor: pointer;
}

.active,
.navLink:hover {
    color: green;
}

.options {
    margin-top: 10px;
    border: 1px solid rgba(218, 218, 218, 1);
    border-radius: 5px;
    padding: 9px;
    box-shadow: 1px 1px 8px rgb(202, 202, 202);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    background-color: white;
    font-size: larger;
}

.options div {
    padding: 4px;
    cursor: pointer;
}

.options div:hover {
    color: rgb(15, 100, 55);
}
