.emporio,
.partners,
.fimaa {
    height: 33.33%;
    overflow: hidden;
    box-sizing: border-box;
}

.text {
    flex-flow: column;
    text-transform: uppercase;
    text-align: center;
    transition: all 0.6s;
    width: 90%;
    overflow: hidden;
    height: 100%;
    box-sizing: border-box;
    font-size: smaller;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text * {
    margin: 0;
    padding: 5px;
}

.emporio .text,
.partners .text {
    color: rgb(238, 238, 238);
    overflow: hidden;
}

.imgWrapper {
    height: 100%;
    width: 15%;
    overflow: hidden;
    z-index: 9999;
}

.img {
    height: 100%;
    transition: all 0.6s;
}

.emporio:hover .text,
.partners:hover .text {
    color: white;
    transform: scale(1.05);
}

.emporio:hover img,
.partners:hover img,
.fimaa:hover img {
    transform: scale(1.1);
}

.fimaa {
    background: linear-gradient(white, rgb(250, 233, 233));
}

.imgFimaa,
.imgPremio {
    height: 55%;
    transition: all 0.6s;
}

.fimaa .text {
    color: rgb(84, 84, 84);
    top: -10px;
}

.fimaa:hover .text {
    color: black;
    transform: scale(1.05);
}

.white {
    background-color: white;
}

@media screen and (max-width: 900px) {
    .imgFimaa {
        height: 45%;
    }
}

@media screen and (max-width: 800px) {
    .emporio:hover img,
    .partners:hover img,
    .fimaa:hover img {
        transform: scale(1.02);
    }
}

@media screen and (max-width: 700px) {
    .emporio,
    .fimaa,
    .partners {
        flex-flow: column;
    }
    .text {
        width: 100%;
        font-size: smaller;
    }
    .imgWrapper {
        display: none;
    }
    .emporio:hover .text,
    .partners:hover .text,
    .fimaa:hover .text {
        transform: scale(1.02);
    }
}

@media screen and (max-width: 500px) {
    .text {
        transform: scale(0.9);
    }
    .fimaa:hover .text,
    .emporio:hover .text,
    .partners:hover .text {
        transform: scale(0.96);
    }
}
