.immobili {
    background: linear-gradient(
        to left,
        rgb(251, 251, 251),
        rgb(232, 232, 232)
    );
}

.filterButton {
    width: 100%;
}

.filterFormWrapper {
    width: 100%;
    margin: 12px 0px;
    height: 400px;
}

.row {
    height: calc(100% - 46px);
}

.filterFormWrapper * {
    max-width: 400px;
}

.housePart {
    flex-flow: column;
}

@media screen and (max-width: 767px) {
    .housePart {
        padding-bottom: 36px;
    }
}
